.footer {
    min-height: 520px;
    background-color: #210933;
    padding-top: 160px;
    position: relative;

}

.footer .footer-container {
    display: flex;
    justify-content: space-around;
    padding-left: 240px;
}

.footer-brand {
    display: inline-flex;
    position: absolute;
    top: 150px;
    left: 30px;
}

.footer-container-2,
.footer-container-3,
.footer-container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    transition: .3s;
}


.footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-icons {
    position: absolute;
    bottom: 210px;
    left: 30px;
    height: 30px;
    width: 154px;
    display: flex;
    justify-content: space-between;
}


.footer-icons img {
    width: 30px;
    height: auto;
    opacity: .5;
    transition: .3s;
}

.footer-icons img:hover {
    opacity: 1;
    cursor: pointer;
}

.copy-rights {
    position: absolute;
    bottom: 80px;
    left: 30px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    color: #857885;
}

.footer-container h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: white;
    transition: .3s;
}

.footer-container-2 h4:hover,
.footer-container-3 h4:hover,
.footer-container-4 h4:hover {
    color: rgb(161, 158, 158);
    cursor: pointer;
}

.servies-header,
.products-header,
.company-header {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.arrow-down {
    display: none;
    margin-top: 5px;
    height: 20px;
    width: 25px;
    font-weight: 100;
    color: white;
    transition: .3s;
}

.arrow-down:hover {
    color: rgb(202, 204, 207);
    cursor: pointer;
}

.arrow-up {
    transform: rotate(180deg);
    transition: .3s ease;
}


.footer-container-2 a,
.footer-container-3 a,
.footer-container-4 a {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #857885;
    transition: .3s;
}

.footer-container a:hover {
    color: #e4d8e4;
}

@media (max-width: 840px) {

    .footer {
        padding-top: 0;
        padding-bottom: 110px;
        min-height: 520px;
    }


    .footer .footer-container {
        padding-top: 170px;
        padding-left: 40px;
        height: max-content;
    }


    .footer-brand {
        position: absolute;
        top: 90px;
        left: 30px;
        right: 0;
        margin: 0 auto;
    }

    .footer-icons {
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .copy-rights {
        height: 30px;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    .copy-rights p {
        display: inline-block;
        font-size: 12px;
    }


}

@media (max-width: 680px) {
    .footer {
        min-height: 400px;
    }

    .footer .footer-container {
        padding-top: 110px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
        align-items: center;
    }

    .arrow-down {
        display: block;
    }

    .footer-brand {
        top: 40px;
    }

    .footer-list {
        display: none;
        height: 0%;
        overflow: hidden;
        transition: height 0.9s ease;
    }

    .visible-list {
        height: fit-content;
        display: flex;
        align-items: center;
        transition: height 0.9s ease;
    }

}

@media (max-width: 440px) {
    .footer .footer-container {
        padding-top: 90px;
    }

    .footer-brand {
        top: 25px;
    }
}