/*  header  */

.header {
    padding-top: 30px;
    position: relative;
}

@keyframes headerdAppire {
    from {   
        transform: translate(0px, -60px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes blockAppire {
    from {   
        transform: translate(0px, 60px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes btnAppire {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 200px;
        opacity: 1;
    }
}

.block-appire {
    animation: blockAppire .6s ease-in;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    animation: headerdAppire .7s ease-in;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 67%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.brand {
    display: inline-flex;
}

.logo {
    height: 40px;
    width: 38px;
    margin-right: 8px;
}

.brand span {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    opacity: .9;
    transition: .2s;
}

.brand span:hover {
    opacity: 1;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 1.4px;
    background-color: #c2bec5;
    transition: width 0.35s;
}

.nav-link:hover:before {
    width: 100%;
    opacity: .8;
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support,
.sign-in {
    color: white;
}

.support {
    width: 130px;
    max-width: 130px;
    height: 45px;
    border-radius: 20px;
    transition: .3s;
}

.support:hover {
    background-color: #798AC9;
}

.sign-in {
    width: 130px;
    max-width: 130px;
    height: 45px;
    background-color: #FFBC51;
    border-radius: 20px;
    transition: .3s;
    font-weight: 500;
}

.sign-in:hover {
    background-color: #798AC9;
}

.vector-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vector-2 {
    position: absolute;
    height: 190px;
    top: 0;
    right: 0;
    z-index: -1;
}

/*   header info*/

.header-info {
    height: 596px;
    max-height: 596px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-article {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    gap: 30px;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

.article-header {
    color: #F7F3FA;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;    
}

h1 {
    overflow: hidden;
    border-right: 2px solid inherit;
    white-space: nowrap;
    animation: typing .7s steps(40, end) ;
  }

.header-article p {
    color: #F7F3FA;
    font-size: 1.1rem;
    font-weight: 400;
}

.start-now {
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 700;
    background-color: #798AC9;
    border-radius: 5px;
    transition: .3s;
    animation: btnAppire .7s ease-in;
}

.start-now:hover {
    background-color: #FFBC51;
}

.image1 {
    position: absolute;
    bottom: -34px;
    right: 0;
    max-height: 580px;
    height: 100%;
    animation: mymoveimg1 .7s ease-out;
    transition: transform 0.4s ease-out;
}

.image1:hover {
    transform: translateX(-5px);
}

@keyframes mymoveimg1 {
    0% {
        opacity: 0;
        right: -200px;
    }

    100% {        
        opacity: 1;
        right: 0;
    }
}

.burger {
    display: none;
    opacity: .9;
    transition: opacity .3s;
}

.burger:hover {
    cursor: pointer;
    opacity: 1;
}

.burger-line {
    width: 35px;
    height: 3px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: white;
    transition: transform .3s, opacity .3s, background-color .3s;
    transform-origin: center;
}

.navbar.container.open .burger div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.navbar.container.open .burger div:nth-child(2) {
    opacity: 0;
}

.navbar.container.open .burger div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.socials-mobile {
    display: none;
}


.socials-mobile img {
    width: 40px;
    opacity: .8;
    transition: .3s;
}

.socials-mobile img:hover {
    opacity: 1;
}


@media (max-width: 1400px) {

    .header {
        padding-top: 10px;
    }

    .header-info {
        height: 460px;
        max-height: 460px;
    }

    .vector-1,
    .vector-2 {
        display: none;
    }

    .header {
        background-image: url(./../photo/back-mobile.png);
        background-size: cover;
    }

    .header-article {
        gap: 25px;
    }

    .article-header {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .header-article p {
        font-size: 1rem;
    }

    .image1 {
        max-height: 450px;
        bottom: -39px;
    }
}

@media (max-width: 990px) {

    .header-info {
        align-items: flex-start;
        height: 360px;
    }

    .burger {
        display: inline-block;
        z-index: 12;
    }

    .nav-menu {
        position: absolute;
        top: -340%;
        right: 0;
        background-color: #2f477a;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
        height: 100vh;
        opacity: .95;
        align-items: center;
        padding: 80px 15px 35px;
        z-index: 10;
        transition: .3s;
    }

    .nav {
        line-height: 32px;
        flex-direction: column;
        gap: 20px;
    }

    .nav-btns {
        flex-direction: column;
        gap: 20px;
        opacity: 1;
    }

    .navbar {
        animation: none;
    }

    .navbar.container .nav-menu {
        transition: .6s;
    }

    .navbar.container.open .nav-menu {
        top: 0px;
        transition: .3s;
    }

    .header-article {
        margin-top: 50px;
        max-width: 320px;
    }

    .article-header {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }

    .image1 {
        max-height: 350px;
        bottom: -30px;
    }
}

@media (max-width: 800px) {
    .image1 {
        max-height: 275px;
        bottom: -24px;
    }
}

@media (max-width: 680px) {

    .header-article {
        width: 100%;
    }

    .image1 {
        bottom: -300px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .socials-mobile {
        display: flex;
        width: 95%;
        height: 40px;
        padding: 0 20px;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .mob-social-4,
    .mob-social-5 {
        height: 23px;
    }
}

@media (max-width: 440px) {

    .header-info {
        height: 320px;
    }

    .logo {
        height: 30px;
        width: 30px;
        margin-right: 4px;
    }

    .brand span {
        font-size: 1.6rem;
    }

    .burger-line {
        width: 25px;
        height: 2px;
    }

    .navbar.container.open .burger div:nth-child(1) {
        transform: rotate(45deg) translate(4px, 5px);
    }

    .article-header {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .header-article {
        margin-top: 25px;
    }

    .header-article p {
        font-size: .9rem;
    }

    .start-now {
        width: 180px;
        height: 40px;
    }

    .image1 {
        max-height: 235px;
        bottom: -240px;
    }

    .socials-mobile {
        display: flex;
        width: 100%;
        height: 40px;
        padding: 0 20px;
        margin-bottom: 10px;
    }
}