.last-row {
    grid-area: resp;
    height: 800px;
    position: relative;
}

.trapezium {
    position: absolute;
    top: 0;
}

.response {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.response-card {
    padding-top: 35px;
    padding-left: 40px;
    width: 500px;
    max-width: 500px;
    height: 220px;
    margin-top: 100px;
    z-index: 5;
}

.card-header-response h2 {
    letter-spacing: 0.08em;
}

/* single response*/
.customer-container {
    width: 50%;
    height: 600px;
    max-height: 600px;
    position: relative;
}

.slide-wrapper {
    display: inline-flex;
    height: 100%;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.slideshow-container {
    max-width: 960px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: white;
    transition: 0.3s ease;
    border-radius: 23px;
    user-select: none;
}

.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: #bbb;
}


/* The dots/bullets/indicators */
.dot {
    display: none;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.customer-slide {
    max-width: 400px;
    margin-right: 0;
    height: 300px;
    padding: 5px 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.customer-slide p {
    height: 80px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customer-slide h3 {
    font-size: 21px;
    line-height: 28px;
    font-weight: 900;
    color: #FFBC51;
    text-transform: uppercase;
}

.customer-slide span {
    color: #FFBC51;
    font-size: 14px;
    font-weight: 700;
}

.main-circle {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.3s;
}

.circle-1 img,
.circle-2 img,
.circle-3 img,
.circle-4 img,
.circle-5 img,
.main-circle img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.circle-1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    position: absolute;
    top: 25%;
    left: 44%;
    transition: 0.3s;
}

.circle-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    position: absolute;
    top: 10%;
    right: 9%;
    transition: 0.3s;
    z-index: 5;
}

.circle-3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    position: absolute;
    top: 40%;
    right: 11%;
    transition: 0.3s;
    z-index: 5;
}

.circle-4 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    position: absolute;
    top: 65%;
    right: 4%;
    transition: 0.3s;
    z-index: 5;
}

.circle-5 {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    overflow: hidden;
    position: absolute;
    top: 70%;
    right: 50%;
    transition: 0.3s;
}

.main-circle:hover,
.circle-1:hover,
.circle-2:hover,
.circle-3:hover,
.circle-4:hover,
.circle-5:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px rgba(177, 207, 207, 0.86);
}

.vector-left {
    position: absolute;
    left: 0;
    bottom: 200px;
    opacity: 0.5;
}

.vector-right {
    max-width: 210px;
    max-height: 920px;
    position: absolute;
    right: 0;
    bottom: 200px;
    opacity: 0.5;
}

.substrat-last {
    opacity: .15;
}

.last-question {
    height: 180px;
    width: 90%;
    background-color: white;
    position: absolute;
    bottom: -90px;
    left: 5%;
    box-shadow: 0px 0px 2px 0px #a8a8db;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    z-index: 5;
}

.last-question-content {
    position: relative;
    height: 100%;
    text-align: center;
    z-index: 5;
}

.question-substrat {
    position: absolute;
    top: 15%;
    left: -5%;
    z-index: -1;
}

.question {
    font-size: 38px;
    font-weight: 800;
    line-height: 140px;
    color: #5C515C;
}

.question span {
    color: #591567;
}

.btn-try {
    width: 200px;
    height: 55px;
    background-color: #FFBC51;
    color: white;
    box-shadow: 2px 2px 5px 0px #c78110;
    border-radius: 6px;
    font-size: 14px;
    align-items: center;
    font-weight: 700;
    transition: .3s;
}

.btn-try:hover {
    background-color: #798AC9;
    box-shadow: 0px 0px 2px 0px #535869;
}

@media (max-width: 1240px) {

    .last-row {
        height: 700px;
    }

    .customer-container {
        width: 50%;
        height: 500px;
    }

    .vector-left,
    .vector-right {
        display: none;
    }

    .circle-1 {
        top: 30%;
    }

    .circle-2 {
        top: 15%;
        right: 5%;
    }

    .circle-3 {
        right: 5%;
    }

    .circle-4 {
        right: 5%;
    }

    .circle-5 {
        top: 67%;
        right: 47%;
    }

}

@media (max-width: 1100px) {

    .last-row {
        height: 500px;
        padding-top: 0;
        margin-top: 10px;
        background: rgb(101, 14, 107);
        background: linear-gradient(10deg, rgba(101, 14, 107, 1) 0%, rgba(77, 71, 156, 1) 100%);
    }

    .last-question {
        height: 160px;
        bottom: -80px;
    }

    .trapezium {
       display: none;
    }

    .response-card {
        margin-top: -40px;
    }

    .question {
        font-size: 2rem;
        line-height: 120px;
    }

    .circle-1 {
        top: 5%;
        left: 10%;
    }

    .circle-2 {
        top: 9%;
        width: 75px;
        height: 75px;
    }

    .circle-3 {
        top: 15%;
        left: 40%;
        width: 60px;
        height: 60px;
    }

    .circle-4 {
        top: 67%;
    }

    .circle-5 {
        width: 70px;
        height: 70px;

    }

    .customer-slide {
        margin-bottom: 70px;
    }
}

@media (max-width: 960px) {

    .response-card {
        width: 50%;
        padding: 0;
        height: 100px;
    }

    .card-header-response h2 {
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: center;
    }

    .substrat-last,
    .response-card p {
        display: none;
    }

    .circle-2 {
        top: 5%;
    }

    .circle-3 {
        top: 10%;
        left: 40%;
    }

    .circle-4 {
        right: 1%;
    }

    .circle-5 {
        top: 65%;
        left: 25%;
    }

    .substrat-last {
        width: 60px;
    }

    .last-question {
        height: 140px;
        bottom: -70px;
    }

    .btn-try {
        width: 160px;
        height: 50px;
    }

    .question {
        font-size: 1.6rem;
        line-height: 100px;
    }

    .question-substrat {
        width: 60px;
        top: 15%;
        left: -7%;
    }

}

@media (max-width: 680px) {

    .last-row {
        padding-top: 0px;
    }

    .response {
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
    }

    .prev,
    .next {
        display: block;
    }

    .dot {
        display: inline-block;
    }

    .last-question {
        display: none;
    }

    .customer-container {
        width: 100%;
        height: 70%;
        position: relative;
    }

    .slide-wrapper {
        width: 100%;
    }

    .customer-slide {
        height: 300px;
        max-width: 100%;
        padding: 5px 70px;
        margin-bottom: 0;
    }


    .response-card {
        width: 100%;
        height: 80px;
        margin-top: 20px;
        text-align: center;
    }

    .circle-1,
    .circle-2,
    .circle-3,
    .circle-4,
    .circle-5 {
        display: none;
    }
}

@media (max-width: 440px) {

    .last-row {
        margin-top: 5px;
        padding-top: 20px;
    }

    .card-header-response h2 {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .card-header-response span {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .response {
        justify-content: flex-start;
        gap: 5px;
    }

    .customer-slide {
        height: 330px;
        max-width: 100%;
        padding: 5px 20px;
    }

    .customer-slide p {
        font-size: .9rem;
        line-height: 20px;
    }

    .customer-slide h3 {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .customer-slide span {
        font-size: .8rem;
    }

    .dot-container {
        position: absolute;
        bottom: -25px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .response-card {
        margin-top: 0;
    }


}