/*  main  section1*/
.section-services {
    height: 800px;
    max-height: 800px;
    margin-top: 100px;
    gap: 170px;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
}

.services {
    padding-top: 120px;
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.col-1,
.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-1 {
    padding-top: 60px;
}

.col-2 {
    padding-bottom: 60px;
}

.card {
    max-width: 260px;
    height: 164px;
    padding: 30px 30px 30px 50px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    border-radius: 6px 0px 0px 6px;
    background-repeat: repeat-y;
    background-image: linear-gradient(150.72deg, #00B5D0 3.87%, #5C0E62 110.68%);
    background-size: 5px;
    box-shadow: 10px 10px 15px 0px #F7F3FA;
    transition: box-shadow .3s;
}

.card:hover {
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: box-shadow .3s;
}

.card-img {
    width: 24px;
    height: 24px;
}

.card-header h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #5C5E6E;
}

.card p {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #756F6F;
}

.info-card {
    padding-right: 20px;
    padding-top: 45px;
    padding-left: 50px;
    overflow: hidden;
    color: #857885;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.info-card h2 {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 800;
    z-index: 2;
}

.payments {
    height: 310px;
    width: 400px;
}

.purple-span {
    color: #5C0E62;
}

.info-card p {
    font-size: 1rem;
    line-height: 1.4rem;
    max-height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.learn-more {
    font-weight: 600;
    color: #5C0E62;
    width: 150px;
    display: flex;
    gap: 10px;
    transition: .3s;
}

.learn-more:hover {
    gap: 16px;
}

.subtract {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.substrat-purple-1 {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    display: none;
    width: 60px;
}

.container-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socials {
    bottom: 0;
    margin: 0 auto;
    height: 35px;
    width: 800px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.socials img {
    height: 35px;
    width: auto;
    opacity: .8;
}

.socials img:hover {
    opacity: 1;
}

.vector-3 {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.services-column {
    justify-content: space-between;
}

@media (max-width: 1100px) {

    .section-services {
        height: 600px;
        max-height: 600px;
        margin-top: 60px;
    }
}

@media (max-width: 960px) {

    .services {
        padding-top: 70px;
        height: 450px;
        width: 500px;
    }

    .card {
        max-width: 210px;
        height: 154px;
        padding: 15px 15px 15px 20px;
    }

    .col-1 {
        padding-top: 30px;
    }

    .col-2 {
        padding-bottom: 30px;
    }

    .payments {
        height: 240px;
        width: 300px;
        padding-right: 20px;
        padding-top: 15px;
        padding-left: 25px;
    }

    .payments h2 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .subtract {
        width: 65px;
        height: 60px;
    }

    .socials {
        max-width: 600px;
    }

}

@media (max-width: 780px) {


    .services {
        height: 400px;
        width: 400px;
        gap: 5px;
    }

    .card {
        max-width: 180px;
        height: 120px;
        padding: 8px 8px 8px 10px;
    }

    .services h2 {
        font-size: 16px;
    }

    .card p {
        font-size: 12px;
        line-height: 16px;
    }



}

@media (max-width: 680px) {


    .section-services {
        margin-top: 400px;
        height: 500px;
        background-color: white;
    }

    .socials {
        display: none;
    }

    .vector-3 {
        display: none;
    }


    .services-column {
        flex-direction: column-reverse;
    }

    .services {
        width: 100%;
        justify-content: space-around;

    }

    .payments {
        width: 100%;
        height: 200px;
    }

    .subtract {
        display: none;
    }

    .substrat-purple-1 {
        display: block;

    }



}

@media (max-width: 440px) {
    .section-services {
        margin-top: 300px;
    }

    .info-card p {
        font-size: .9rem;
    }

    .payments {
        width: 100%;
        height: 240px;
    }

    .services {
        padding: 30px 0;
        height: 360px;
    }
    .col-1,
    .col-2 {
        padding: 0;
    }
.card-header h2 {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    max-width: 140px;
    height: 140px;
}
.card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

}